[DATABASE]
# Set host here or set environment variable COBRADB_POSTGRES_HOST
postgres_host = localhost

# Set port here or set environment variable COBRADB_POSTGRES_PORT
postgres_port = 5432

# Set user here or set environment variable COBRADB_POSTGRES_USER
postgres_user = user

# Set password here or set environment variable COBRADB_POSTGRES_PASSWORD
postgres_password =

# Set database here or set environment variable COBRADB_POSTGRES_DATABASE
postgres_database = cobradb

# Set test database here or set environment variable
# COBRADB_POSTGRES_TEST_DATABASE
postgres_test_database = cobradb_test

[DATA]
# The directory containing the genome-scale models
model_directory = ~/path/to/cobradb_data/models

# The directory containing the reference sequences (as Genbank files)
refseq_directory = ~/path/to/cobradb_data/refseq

# A tab-delimited text file containing models, reference sequences, and
# publication IDs
model_genome = ~/path/to/cobradb_data/model-genome.txt

# A tab-delimited text file containing compartment IDs and their corresponding
# names
compartment_names = ~/path/to/cobradb_data/compartment-names.txt


data_source_preferences = ~/path/to/cobradb_data/annotation/data-source-prefs.txt
